<!-- comment partial -->

{% for comment in comments %}
<div class="flex">
    <img src="{{ comment.author.profile.image.url }}" alt="User Avatar" class="w-10 h-10 rounded-full mr-4">
    <div class="w-full">
        <p class="font-semibold text-gray-800">{{ comment.author.username }}</p>
        <p class="text-gray-600 text-sm">{{ comment.created_at|date:"F j, Y" }}</p>
        <p class="text-gray-800 mt-2">{{ comment.content }}</p>
        {% if comment.image %}
            <img src="{{ comment.image.url }}" alt="Comment Image" class="rounded-lg mt-2">
        {% endif %}
        <div class="flex items-center mt-2">
            <form method="post" action="{% url 'like_toggle' slug=comment.post.slug %}" class="like-form">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <button type="submit" class="text-[#e87a00] text-sm hover:text-[#cc6b00]">
                    {% if request.user in comment.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
                <span class="ml-2 text-gray-600 text-sm">{{ comment.likes.count }} Likes</span>
            </form>
            <button class="toggle-comment-form text-[#e87a00] text-sm ml-4 hover:text-[#cc6b00]">Reply</button>
        </div>

        <!-- Reply Form (Hidden by Default) -->
        <form method="post" data-post-slug="{{ post.slug }} enctype="multipart/form-data" class="mt-2" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <textarea name="content" rows="2" class="w-full rounded-md" placeholder="Reply to this comment"></textarea>
            <button type="submit" class="bg-[#e87a00] text-white px-4 py-2 rounded-md mt-2">Reply</button>
        </form> 
        <!-- Nested Replies -->
        {% if comment.replies.all %}
            <button class="view-more-comments text-sm text-gray-600 mt-2 hover:underline">View More</button>
            <div class="mt-4 pl-6 space-y-4" style="display: none;">

                {% include  'comment.html' with comments=comment.replies.all %}
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}
